/*FUENTE*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Federo&family=Quicksand:wght@300&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}
.fondoAzulClaro{
  background-color: #FCE181;
}

.h100 {
  height: 100%;
  min-height: 20vh;
}

.fondoGris{
  background-color: rgb(226, 223, 223);
}

.icon{
  max-width: 40px;
  height: auto;
}

.hoverZoom:hover{
  transform: scale(1.1);
  cursor:pointer;
}

.img{
  width: 30%;
}

.logo{
  width: 9%;
}

.navbar-toggler-icon{
  background-color: black;
  border-radius: 15px;
}




