<div class="row">
  <p class="title text-center mt-5">Did you accomplish your goals today?</p>

  <!--SPORT-->
  <div class="col-md-6 card mt-5 border-0">
    <div class="card-content text-center mt-5 border-0 justify-content-center">
      <img src="../../assets/img/muscle.png" class="icon" />
      <div class="card mt-5 border-0">
        <button class="btn">
          <img src="../../assets/img/cheque.png" name="yes" class="iconito" />
        </button>
        <button class="btn">
          <img src="../../assets/img/" name="yes" class="iconito" />
        </button>

      </div>
    </div>
  </div>

  <!--FOOD-->
  <div class="col-md-6 card mt-5 border-0">
    <div class="card-content text-center mt-5 border-0">
      <img src="../../assets/img/diet.png" class="icon" />
      <div class="card mt-5 border-0">
        <img src="../../assets/img/cheque.png" class="iconito" />


      </div>
    </div>
  </div>
</div>
